/* Reset */
ul {
  margin: 0;
  padding: 0;
}

li {
	float: left;
	list-style: none;
}

a {
	text-decoration: none;
	color: #2a0e00;
}

p {
	color: #2a0e00;
	margin: 0;
}

/* Common */
body {
	background-color: #f9f7f4;
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}

.container {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

h3 {
	width: 240px;
	margin: 60px auto 20px;
	padding: 10px 0;
	font-size: 22px;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	color: #2a0e00;
}

/* Header */
.header h1 {
	float: left;
	margin: 40px 0;
}

.header ul {
	float: right;
	margin: 60px 0;
}

.header ul li {
	margin-left: 30px;
}

.header ul li a {
	color: #2a0e00;
}

/* Top */
.top .mock {
	float: left;
	width: 360px;
	margin: 0 40px 40px 0;
}

.top .main {
	float: left;
	width: 600px;
}

.top .main .catch {
	width: 100%;
}

.top .main h2 {
	color: #ffc121;
	font-size: 26px;
	margin: 20px 0 40px;
}

.top .main p {
	font-size: 24px;
	text-align: center;
	margin: 80px auto 100px;
	padding: 12px 0;
	width: 280px;
	color: white;
	background-color: #ff2361;
	border-radius: 30px;
}

.top .main .appstore {
	width: 200px;
    margin: 140px 0 40px 180px;
}

.top .main .share {
	margin: 20px 180px;
}

.top .main .share li {
	list-style: none;
	float: left;
	width: 120px;
	height: 20px;
}

.top .main .share li.fb > iframe {
	height: 20px;
}

/* Ad */
.ad {
	background: #ffc121;
}

.ad .container {
	padding-top: 40px;
}

.ad .main {
	float: left;
	width: 500px;
}

.ad .main p {
	font-size: 28px;
	font-weight: bold;
	margin: 60px 0;
}

.ad .main a {
	padding: 20px 40px;
	background-color: white;
	border-radius: 40px;
	font-size: 24px;
}

.ad .main a:hover {
	background-color: silver;
}

.ad img {
	float: right;
	width: 500px;
}

/* Feature */
.feature ul li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.feature ul li:last-child {
	border-bottom: none;
}

.feature ul li .main {
	float: left;
	width: 560px;
	margin: 20px 40px 0 0;
}

.feature ul li .main .icon {
	width: 40px;
}

.feature ul li .main h4 {
	font-size: 26px;
	margin: 10px 0;
	color: #2a0e00;
}

.feature ul li .main {
	font-size: 18px;
}

.feature ul li .image {
	float: right;
	width: 400px;
}

/* Proposal */
.proposal .container {
  width: 700px;
  padding: 30px 40px;
	background-color: white;
  border-radius: 8px;
  border: 1px solid #eee;
  text-align: center;
}

.proposal h4 {
  margin: 0 0 10px;
  font-size: 34px;
  font-weight: bold;
  color: #ffc121;
}

.proposal .link {
  color: #E9202C;
}

.proposal .link img {
  width: 40px;
  position: relative;
  top: 15px;
  padding-right: 10px;
}

/* Member */
.member .container {
	overflow: inherit;
}

.member .profile {
    overflow: hidden;
    margin-top: 40px;
}

.member .profile li {
	float: left;
	width: 33%;
	margin-bottom: 40px;
}

.member .profile li .thumb {
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.member .profile li .name {
	margin: 2px 0 0;
	font-size: 20px;
	font-weight: bold;
}

.member .profile li .twitter {
	margin: 0;
	padding-left: 4px;
	color: gray;
}

.member .profile li .twitter img {
	width: 16px;
}

.member .profile li .job {
	color: white;
	font-size: 12px;
	margin-left: 2px;
	padding: 2px 4px;
	border-radius: 4px;
	display: inline;
}

.member .profile li .job.leader {background: #e74c3c}
.member .profile li .job.engineer {background: #3498db}
.member .profile li .job.dir {background: #27ae60}
.member .profile li .job.pr {background: #8e44ad}
.member .profile li .job.office {background: #34495e}
.member .profile li .job.business {background: #daa520}

.member .profile li .univ {
	margin: 0;
	color: gray;
}

.member .description {
	font-size: 20px;
	margin: 30px 100px;
}

.member .description strong {
	color: #ffc121;
}

/* Contact */
.contact p {
	text-align: center;
	font-size: 20px;
}

/* Footer */
.footer p {
	text-align: center;
	color: silver;
	margin: 100px 0 20px;
}
