/* Reset */
ul {
  margin: 0;
  padding: 0;
}

li {
	float: left;
	list-style: none;
}

a {
	text-decoration: none;
	color: #2a0e00;
}

p {
	color: #2a0e00;
	margin: 0 10px;
}

/* Common */
body {
	background-color: #f9f7f4;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}

.container {
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
}

h3 {
	width: 220px;
	margin: 60px auto 20px;
	padding: 10px 0;
	font-size: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	color: #2a0e00;
}

/* Header */
.header .logo {
	width: 240px;
	margin: 0 20px;
}

.header ul {
	display: none;
}

/* Top */
.top .mock {
	width: 80%;
	margin: 0 10%;
}

.top .main {
	background: #f9f7f4;
	position: absolute;
	bottom: 0;
}

.top .main .catch {
	width: 90%;
	margin: 0 5%;
	padding: 10px 0 0;
}

.top .main h2 {
	color: #ffc121;
	font-size: 16px;
	text-align: center;
	margin: 0 0 10px;
}

.top .main p {
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	padding: 6px 0;
	width: 200px;
	color: white;
	background-color: #ff2361;
	border-radius: 30px;
}

.top .main .appstore {
    width: 160px;
    margin: 0 auto;
    display: block;
}

.top .main .share {
	margin: 20px;
	height: 20px;
}

.top .main .share li {
	list-style: none;
	float: left;
	width: 120px;
	height: 20px;
}

.top .main .share li.fb > iframe {
	height: 20px;
}

/* Ad */
.ad {
	background: #ffc121;
}

.ad .container {
	padding-top: 30px;
}

.ad .main p {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.ad .main a {
	display: block;
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
	margin: 6px 0;
}

.ad .main a:hover {
	background-color: silver;
}

.ad img {
	width: 90%;
	margin: 0 5%;
}

/* Feature */
.feature ul li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.feature ul li:last-child {
	border-bottom: none;
}

.feature ul li .main {
}

.feature ul li .main .icon {
	display: block;
	width: 40px;
	margin: 0 auto;
}

.feature ul li .main h4 {
	font-size: 22px;
	color: #2a0e00;
	margin: 10px 0;
	text-align: center;
}

.feature ul li .main p {
	font-size: 18px;
	text-align: center;
}

.feature ul li .image {
	width: 90%;
	margin: 0 5%;
}

/* Proposal */
.proposal {
  padding: 30px 10px;
	background-color: white;
  text-align: center;
}

.proposal h4 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ffc121;
}

.proposal .link {
  color: #E9202C;
  height: 70px;
  display: block;
}

.proposal .link img {
  width: 40px;
  position: relative;
  top: 15px;
  padding-right: 10px;
}

/* Member */
.member .profile {
    overflow: hidden;
    margin-top: 40px;
}

.member .profile li {
	float: left;
	width: 33%;
	margin-bottom: 40px;
    text-align: center;
}

.member .profile li .thumb {
    display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
    margin: 0 auto 4px;
}

.member .profile li .name {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.member .profile li .twitter {
	margin: 0;
	padding-left: 4px;
	color: gray;
}

.member .profile li .twitter img {
	width: 16px;
}

.member .profile li .job {
	color: white;
	font-size: 12px;
	margin-left: 2px;
	padding: 2px 4px;
	border-radius: 4px;
	display: inline;
}

.member .profile li .job.leader {background: #e74c3c}
.member .profile li .job.engineer {background: #3498db}
.member .profile li .job.dir {background: #27ae60}
.member .profile li .job.pr {background: #8e44ad}
.member .profile li .job.office {background: #34495e}

.member .profile li .univ {
	margin: 0;
	color: gray;
}

.member .description {
	font-size: 18px;
}

.member .description strong {
	color: #ffc121;
}

/* Contact */
.contact p {
	text-align: center;
	font-size: 18px;
}

/* Footer */
.footer p {
	text-align: center;
	color: silver;
	margin: 100px 0 20px;
}
