/* Reset */
li {
	float: left;
	list-style: none;
}

a {
	text-decoration: none;
	color: #2a0e00;
}

p {
	color: #2a0e00;
}

/* Common */
body {
	background-color: #f9f7f4;
}

.container {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/* PC - Ad */
.ad {
	background: #ffc121;
}