/* Reset */
ul {
  margin: 0;
  padding: 0;
}

li {
	float: left;
	list-style: none;
}

a {
	text-decoration: none;
	color: #2a0e00;
}

p {
	color: #2a0e00;
	margin: 0;
}

/* Common */
body {
	background-color: #f9f7f4;
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}

.container {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

h3 {
	width: 240px;
	margin: 60px auto 20px;
	padding: 10px 0;
	font-size: 22px;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	color: #2a0e00;
}

/* PC - Header */
.header h1 {
	float: left;
	margin: 40px 0;
}

.header ul {
	float: right;
	margin: 60px 0;
}

.header ul li {
	margin-left: 30px;
}

.header ul li a {
	color: #2a0e00;
}

/* PC - Top */
.top .mock {
	float: left;
	width: 360px;
	margin: 0 40px 40px 0;
}

.top .main {
	float: left;
	width: 600px;
}

.top .main .catch {
	width: 100%;
}

.top .main h2 {
	color: #ffc121;
	font-size: 26px;
	margin: 20px 0 40px;
}

.top .main p {
	font-size: 24px;
	text-align: center;
	margin: 80px auto 100px;
	padding: 12px 0;
	width: 280px;
	color: white;
	background-color: #ff2361;
	border-radius: 30px;
}

.top .main .appstore {
	width: 200px;
	opacity: 0.2;
	margin-left: 150px;
}

.top .main .share {
	margin: 20px 180px;
}

.top .main .share li {
	list-style: none;
	float: left;
	width: 120px;
	height: 20px;
}

.top .main .share li.fb > iframe {
	height: 20px;
}

/* PC - Ad */
.ad {
	background: #ffc121;
}

.ad .container {
	padding-top: 40px;
}

.ad .main {
	float: left;
	width: 500px;
}

.ad .main p {
	font-size: 28px;
	font-weight: bold;
	margin: 60px 0;
}

.ad .main a {
	padding: 20px 40px;
	background-color: white;
	border-radius: 40px;
	font-size: 24px;
}

.ad .main a:hover {
	background-color: silver;
}

.ad img {
	float: right;
	width: 500px;
}

/* PC - Feature */
.feature ul li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.feature ul li:last-child {
	border-bottom: none;
}

.feature ul li .main {
	float: left;
	width: 560px;
	margin: 20px 40px 0 0;
}

.feature ul li .main .icon {
	width: 40px;
}

.feature ul li .main h4 {
	font-size: 26px;
	margin: 10px 0;
	color: #2a0e00;
}

.feature ul li .main {
	font-size: 18px;
}

.feature ul li .image {
	float: right;
	width: 400px;
}

/* PC - Member */
.member .container {
	overflow: inherit;
}

.member .team {
	float: left;
	width: 660px;
	margin-right: 40px;
}

.member .team p {
	font-size: 20px;
	margin: 30px 0;
}

.member .team p strong {
	color: #ffc121;
}

.member .team p a.twitter {
	color: silver;
	margin-left: 10px;
	font-size: 18px;
}

.member .icon {
	width: 300px;
	position: absolute;
	right: 0;
	top: 0;
}

/* PC - Contact */
.contact p {
	text-align: center;
	font-size: 20px;
}

/* PC - Footer */
.footer p {
	text-align: center;
	color: silver;
	margin: 100px 0 20px;
}